<div *ngIf="authorData">
  <h1>{{ authorData.author }}</h1>
  <p>Birthday: {{ authorData.birthday }}</p>
  <p>Birthplace: {{ authorData.birthPlace }}</p>

  <table class="table">
  <div class="book-list" [ngClass]="{'two-columns': isDesktop}">
    <div *ngFor="let book of sortedBooks; let i = index">
      <div class="book-entry">
        <img  class="img-fluid" [src]="book.imageUrl" alt="{{ book.title }}">
        <h2><a [href]="book.purchaseLink" target="_blank">{{ book.title }}</a></h2>
        <p>Publish Date: {{ book.PublishDate }}</p>
        <!-- Add a form for modifying a book -->
        <form (submit)="modifyBook(i)">
          <div class="form-group">
          <label>New Title:</label>
          <input [(ngModel)]="newBook.title" required>
          <button  class="btn btn-primary" (click)="deleteBook(i)">Delete</button>

          <label>New Publish Date:</label>
          <input [(ngModel)]="newBook.PublishDate" required>
          <button  class="btn btn-primary" type="submit">Modify</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  </table>

  <div class="sort-toggle">
    <label>Sort by:</label>
    <select [(ngModel)]="sortOption" (change)="onSortChange()">
      <option value="title">Title</option>
      <option value="date">Publish Date</option>
    </select>
  </div>

  <!-- Add a form for adding a new book -->
  <form (submit)="addBook()">
    <div class="form-group">
    <label>New Title:</label>
    <input  [(ngModel)]="newBook.title" required>
    <label>New Publish Date:</label>
    <input [(ngModel)]="newBook.PublishDate" required>
    <button  class="btn btn-primary" type="submit">Add Book</button>
    </div>
  </form>
</div>

<router-outlet></router-outlet>
